name: hydrometrie_dashboard
description: "A new Flutter project."
publish_to: 'none'
version: 0.1.0

environment:
  sdk: ^3.7.0

dependencies:
  fl_chart: ^0.70.2
  flutter:
    sdk: flutter
  flutter_date_pickers: ^0.4.3
  percent_indicator: ^4.2.4
  dio: ^5.4.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true
